.about {
    display: flex;
    flex-direction: row;
    padding: 5% 10%;
}

.links {
    flex: 10%;
    display: flex;
    flex-direction: column;
}

.links i {
    margin: 50% 0;
}

.intro {
    padding: 0 10%;
}

.profile img {
    margin-top: 0%;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;
}
.profile img:hover {
    transform: scale(1.1); /* Increase size on hover */
}
.about .intro h1 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about .intro h2 {
    color: #383838;
    font-size: 2.0rem;
    margin-bottom: 15px;
    font-weight: 300;
}

.about .intro h3 {
    color: #404040;
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 300;
}

@media (max-width : 768px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .links i {
        margin: 20px 20px;
    }

    .profile {
        order: 1;
    }

    .intro {
        order: 2;
    }

    .intro h3{
        text-align: justify;
    }

    .links {
        order: 3;
    }
}
