.form{
    padding: 0 25%;
    display: flex;
    flex-wrap: wrap;
}

.firstname {
    margin-right : 10%;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100px;
    left: 0;
}

.lastname{
    display: flex;
    flex-direction: column;
    width: 45%;
    right: 0;
}

.form label {
    font-size: 1.5em;
    font-weight: 200;
}

.form input{
    margin-top: 10px;
    width: auto;
    height : 30px;
}
.email {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form textarea{
    margin-top: 10px;
    width: auto;
    height : 100px;
}

.formsummit {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.formsummit button {
    width: 80px;
    height: 40px;
    background-color: #ffffff;
    color: #333333; 
    border: 1px solid #898989; 
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: all 0.3s ease; 
}

/* Hover effect */
.formsummit button:hover {
    background-color: #9d9d9d; 
    color: #1c1c1c; 
    border: 1px solid #9b9b9b;
}

.formsummit button:active {
    background-color: #c0c0c0; 
    color: #303030; 

}