.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.about img {
    padding-top: 5%;
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about .profile img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.about .intro {
    padding-left: 5%;
    flex: 1;
    font-size: large;
    line-height: 1.5;
    padding-right: 50px; /* Adjusted padding */
}

.about .intro h1 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about .intro h2 {
    color: #383838;
    font-size: 2.0rem;
    margin-bottom: 15px;
    font-weight: 300;
}

.about .intro h3 {
    color: #404040;
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 300;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .about .intro img,
    .about .intro {
        max-width: 100%;
        margin-top: 20px;
        order: initial;
    }

    .about .profile img:hover {
        transform: scale(1.05);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
}

.pathway {
    display: flex;
    flex-direction: column;
}

.pathway img {
    align-items :end;
    text-align: end;
    margin-top: 70px;
    border-radius: 100%;
    box-shadow: none;

}

/* Remove hover effect for pathway images */
.pathway img:hover {
    transform: none;
    box-shadow: none;
}

#github {
    width: 20px;
    height: 20px;
}

#linkedin {
    width: 30px;
    height: 30px; /* Adjusted margin */
}

#leetcode {
    width: 20px;
    height: 20px;
}
