* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  nav {
    background-color: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-left: 15%;
    overflow: auto;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    align-items: center;
  }
  
  
  label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
  }
  
  nav ul {
    float: right;
    padding-right: 12%;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(24, 24, 24);
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 13px;
    border-radius: 3px;
    font-weight: 400;
  }
  
  a.nav_link,
  a:hover {
    transition: 0.5s;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 1162px) {
    nav {
      display: none; /* Hide the navigation when the screen size is 768px or smaller */
    }
  
    label.logo {
      padding: 0 10px;
    }
  
    nav ul {
      float: none;
      text-align: center;
      margin: 10px 0;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
/*     

#header{
  position: fixed;
} */
