.projects {
    padding: 0 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.slidebox img {
    width: 400px;
    height: auto;
    border-radius: 5%;
}


.slidebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidebox button {
    color: #1f1f1f;
    height: 80px;
    width: 80px;
    background-color: white;
    border-style: none;
    font-size: 3em;
    font-weight: 900;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.slidebox button:hover {
    transform: scale(1.2);
    /* Scale up on hover */
}

.slidebox button:active {
    transform: scale(0.7);
    transition-duration: 0s;
}

.slidebox button:active + img {
    animation: opic ; 
}

@keyframes opic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.projects h1 {
    color: #404040;
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 300;
}

#projects {
    margin-top: 80px;
    margin-left: 15%;
}