.projects {
    padding: 0 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.slidebox img {
    width: 400px;
    height: 400px;
    border-radius: 5%; 
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgba(6, 6, 6, 0.5);
}


.slidebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidebox button {
    color: #515151;
    height: 100px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    font-size: 4em;
    font-weight: 100;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.slidebox button:hover {
    transform: scale(1.2);
    /* Scale up on hover */
}

.slidebox button:active {
    transform: scale(0.7);
    transition-duration: 0s;
}

.slidebox button:active + img {
    box-shadow: 0 0 30px rgba(36, 36, 36, 0.5);
}



.projects h1 {
    color: #404040;
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 300;
}

#projects {
    margin-top: 80px;
    margin-left: 15%;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.description {
    width: auto;
    height: 150px;
    animation: slideIn;
    animation-duration: 2s;
}


@media (max-width :  768px) {


    .slidebox img{
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .description {
        justify-content: left;
        text-align: justify;
    }

    .projects{
        padding:  0 10%;
    }

    .slidebox {
        padding: 0 80px;
    }

    
}