  .Skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid h1{
    margin-top: 20px;
    padding: 0 20px;
    
  }

  .icons-container {
    display: flex;
    overflow: hidden; /* Hide icons that overflow */
  }
  
  .icons {
    /*border: 1px solid grey;*/
    padding: 20px;
  }
  
