body {
  background-color: white;
  margin: 0;
  font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  /* font-family :'Roboto Slab'; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#subheadings{
  font-size: 1.7em;
  font-weight: 600;
  margin: 50px 0;
  margin-left: 12%;
}

#subheadings-projects{
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 12% ;
  margin-bottom: 50px;
  margin-left: 12%;
}